body, html, .container-fluid, .sidebar, .body {
    height: 100%;
    min-height: 100%;
    margin:0;
    overflow: hidden;
    cursor: default;
}

.dendrogramConnector{
    fill:none;
    stroke: #BBBBBB;
}

.container-fluid{
    padding: 0;
}

.body {
    box-sizing: border-box;
    padding:50px 0 0 0;
    z-index:1;
}
.navbar {
    height: 50px;
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    z-index:2;
}

.boxtext {
    font: 10px sans-serif;
}

.boxrect {
    fill: white;
    stroke-width: 1px;
}

.invisibleBox{
    fill:white;
    stroke-width: 0px;
}

.borderText{
    fill:white;
    paint-order: stroke;
    stroke: steelblue;
    font: 12px sans-serif;
    stroke-width:2px;
}

.histLabel text{
    fill:white;
    paint-order: stroke;
    stroke: steelblue;
    font: 12px sans-serif;
    stroke-width:2px;
}

.EntropyClusterI text{
    fill:white;
    paint-order: stroke;
    stroke: steelblue;
    font: 12px sans-serif;
    stroke-width:2px;
}

.boxline {
    stroke-dasharray: 5,5;
}

.box {
    fill: steelblue;
    stroke: #333;
    stroke-width: 1px;
    opacity: 0.7;
}

.rect,
.whisker,
.median {
    fill: #fff;
    stroke: #333;
    stroke-width: 1px;
}
.center {
    stroke: #333;
    stroke-width: 1px;
    stroke-dasharray: 3,3;
}

.outlier {
    fill: none;
    stroke: #ccc;
}

.histRect {
    fill: steelblue;
    stroke: #333;
    stroke-width: 0px;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
}

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
}
.axis line,
.axis path {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    stroke: #888;
    font-size: 8pt;
    /*cursor: move;*/
}